{% extends "my_app/base.html" %}
{% load static %}

{% block title %}
    My Bag
{% endblock %}

{% block content %}
    <div class="w-2/3 mx-auto mt-6 px-6 py-12 bg-gray-100 rounded-xl min-h-96">


        {% if formset.initial_form_count == 0 %}
            <div class="flex justify-center items-center h-48 flex-col p-6">
                <h2 class="text-xl"><strong>Your Bag is empty</strong></h2>
                <p class="text-l">Products remain in your bag for 60 minutes,<br> and then they’re moved to your Wish List.</p>
                <a href="/" class="text-xl mt-4 text-teal-500 hover:text-teal-700">Go Back</a>
            </div>
        {% else %}
            <h1 class="mb-12 text-3xl text-center">Your Bag</h1>

            <form method="post" action=".">
                {% csrf_token %}

                {{ formset.management_form }}

                <ul class="list-decimal">
                    {% if formset.initial_form_count > 0 %}
                        {% for form in formset %}
                            <li class="ml-2 p-3 flex">
                                <div class="flex justify-between border border-gray-200 rounded-xl mb-3">
                                    <a class="flex justify-between border border-gray-200 rounded-xl" href="{% url 'products:detail' form.instance.productSize.product.id %}">
                                        <div>
                                            <img src="{{ form.instance.productSize.product.img_url }}" class="h-full min-w-24 w-48 rounded-l-xl object-cover" alt="{{ form.instance.productSize.product }}">
                                        </div>

                                        <div class="p-6 bg-white flex flex-col">
                                            <div>
                                                <h2 class="text-2xl">{{ form.instance.productSize.product }}</h2>
                                                <p>{{ form.id }}</p>
                                            </div>
                                            <p class="text-gray-500 flex justify-end items-end flex-grow">Price: {{ form.instance.productSize.product.price }}$</p>
                                        </div>
                                    </a>
                                    <div class="p-6">
                                        <div class="mb-3 flex justify-between">
                                            <label class="inline-block mb-2 flex items-center p-2">Size:</label>
                                            <div>{{ form.productSize }}</div>
                                        </div>

                                        <div class="mb-3 flex justify-between">
                                            <label class="inline-block mb-2 flex items-center p-2">Quantity:</label>
                                            <div class="flex justify-end">{{ form.quantity }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="min-w-6 flex flex-col justify-between h-9 items-center">
                                    <button type="button" class="text-3xl hover:text-4xl hover:text-red-700 delete-button" name="action" value="delete{{ form.instance.id }}" title="Delete">
                                        <i class="mt-2 absolute z-10 fa-solid fa-trash"></i>
                                    </button>

                                    <button type="button" class="text-3xl hover:text-4xl text-gray-500 hover:text-gray-700 add-button" name="action" value="add{{ form.instance.id }}" title="Add">
                                        <i class="mt-2 absolute z-10 fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </li>

                            {% if form.errors or form.non_field_errors %}
                                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                                    {% for field in form %}
                                        {{ field.errors }}
                                    {% endfor %}

                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
                    <div class="w-full flex justify-end">
                        <button type="submit" name="action" value="update" class="mb-3 py-4 px-8 text-lg text-white rounded-xl bg-teal-500 hover:bg-teal-700">Update</button>
                    </div>
            </form>

        {% endif %}
    </div>

    <script src="{% static 'js/onbutton.js' %}"></script>
{% endblock %}