{% extends "./base.html" %}

{% load humanize %}

    {% block title %}
        Welcome
    {% endblock %}

    {% block content %}
        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
            <div class="grid grid-cols-3 gap-3">
                {% for category in categories %}
                    <div>
                        <a href="{% url 'products:category' category.name %}">
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ category.name }}</h2>
                                <p class="text-gray-500">{{ category.products.count }} products</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
            <h1 class="mb-12 text-3xl text-center font-semibold">New Season</h1>

            <div class="grid grid-cols-5 gap-3">
                {% for product in products %}
                    <div>
                        <a href="products/{{ product.id }}/">
                            <div>
                                <img src="{{ product.img_url }}" class="rounded-t-xl w-full h-96 object-cover" alt="{{ product.name }}">
                            </div>

                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ product.name }}</h2>
                                <p class="text-gray-500 flex justify-end">Price: {{ product.price|floatformat:2|intcomma }}$</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}