{% extends 'my_app/base.html' %}
{% load static %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <div class="w-1/3 my-6 p-6 mx-auto bg-gray-100 rounded-xl">
        <h1 class="flex justify-center mb-6 text-3xl">Sign Up</h1>

        <form class="flex justify-center flex-col" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label class="inline-block mb-2">First name:</label><br>
                {{ form.first_name }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Last name:</label><br>
                {{ form.last_name }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Username:</label><br>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Email:</label><br>
                {{ form.email }}
            </div>




            <div class="mb-3">
                <label class="inline-block mb-2">Photo:</label><br>
                <div id="drop-area" class="flex flex-col items-center justify-center border-4 border-dashed border-gray-300 p-6 rounded-lg hover:bg-gray-50">
                    <label for="photo" class="text-center cursor-pointer text-gray-700 font-medium">
                      <span class="block mb-2">Drag and drop an image or click to select</span>
                      <div class="flex items-center justify-center space-x-2">
                        <svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                        </svg>
                        <span class="text-sm text-gray-500">Choose an image</span>
                      </div>
                    </label>
                    {{ form.photo }}
                </div>
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Password:</label><br>
                {{ form.password1 }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Repeat Password:</label><br>
                {{ form.password2 }}
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}

                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button class="py-4 px-8 text-lg text-white rounded-xl bg-teal-500 hover:bg-teal-700">Submit</button>
        </form>
    </div>
{% endblock %}